.advantages {
  background-color: #f2f2f2;
}

.advantages__wrapper {
  margin: 0 auto;
  width: 280px;
  text-align: center;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 67px;
}

.advantages__list {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.advantages__list::after {
  content: "";
  display: block;
  width: 157px;
  height: 320px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  position: relative;
  left: 62px;
  margin-top: 27px;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__description {
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  margin-top: -5px;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  
  .advantages__wrapper {
    width: 620px;
    height: 430px;
  }
  
  .advantages__list {
    padding-top: 20px;
  }
  
  .advantages__item {
    padding-left: 310px;
    padding-bottom: 7px;
  }
  
  .advantages__list::after {
    content: "";
    display: block;
    width: 268px;
    height: 481px;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: -500px;
  }
  
  .advantages__title {
    text-align: left;
    margin: 0;
    padding-bottom: 18px;
  }
  
  .advantages__description {
    width: 310px;
    text-align: left;
  }
  
}

@media (min-width: $desktop-width) {
  
  .advantages__wrapper {
    width: 960px;
    padding-left: 110px;
    padding-right: 110px;
    height: auto;
    padding-top: 20px;
  }
  
  .advantages__list {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .advantages__item {
    padding: 0;
  }
  
  .advantages__list::after {
    display: none;
  }
  
  .advantages__item-mood::before {
    content: "";
    display: block;
    width: 292px;
    height: 302px;
    background-image: url(../img/iphone-screen-1-desktop@1x.png);
    background-repeat: no-repeat;
    position: relative;
    left: 0;
  }
  
  .advantages__item-world::before {
    content: "";
    display: block;
    width: 292px;
    height: 302px;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    background-repeat: no-repeat;
    position: relative;
    left: 0;
  }
  
  .advantages__item-friends::before {
    content: "";
    display: block;
    width: 292px;
    height: 302px;
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat;
    position: relative;
    left: 0;
  }
  
  .advantages__title {
    padding-left: 30px;
    padding-top: 55px;
    width: 230px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    padding-left: 25px;
    padding-top: 10px;
    width: 240px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  
}
