.advantages {
  text-align: center;

  background-color: #f2f2f2;
}

.advantages__list {
  padding-bottom: 345px;

  list-style: none;

  background-image: url(/img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages__title {
  color: #000;
}

.advantages__description {
  color: #283645;
}
