.competition__text-preview {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}  

.competition-form__full-name label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; 
  color: #d22856;
}

.competition-form__full-name input {
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px; 
  border: 2px solid #e2e2e2;
}

.competition-form fieldset{
  border: none;
}

.competition-surname {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700; 
  color: #d22856;
}

.competition-form__achievements {
  background-color: #f2f2f2;
}

.competition-attaining {
  
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
}

.competition-form__achievements label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.competition-form__data label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; 
  color: #d22856;
}

.competition-form__data input {
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px; 
  border: 2px solid #e2e2e2;
}

.competition-form__apps {
  background-color: #f2f2f2;
}

.competition-app {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
}

.competition-form__apps label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.competition-form__emotions label{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; 
  color: #d22856;
}

.competition__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  padding: 17px 35px;

  vertical-align: middle;

  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px; 
}

.competition__text-info {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.competition__text-info sup {
  color: #d22856;
}
