/* Общее */
.competition {
  background-color: #ffffff;
  padding-top: 46px;
  position: relative;
  margin-top: -30px;
}
.competition__wrapper {
  margin: 0 auto;
}

.competition-form fieldset{
  border: none;
}

.competition-form {
  display: flex;
  flex-direction: column;
}


.competition-form__achievements__list {
  input {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}


@media (min-width: $tablet-width) {
  .competition { 
    margin-top: 0;
  }
  .competition__wrapper {
    width: 660px;
  }
  .competition-form__full-name {
    order: 1;
  }
  .competition-form__apps {
    order: 2;
  }
  .competition-form__data {
    order: 3;
  }
  .competition-form__achievements {
    order: 4;
  }
  .competition-form__emotions {
    order: 5;
  }
  .competition__button {
    order: 6;
  }
  .competition__text-info {
    order: 7;
  }
}

@media (min-width: $desktop-width) {
  .competition__wrapper {
    width: 960px;
    padding-left: 111px;
    padding-right: 111px;
  }
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Текст превью */
.competition__text-preview {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .competition__text-preview {
    width: 490px;
    font-size: 18px;
    padding-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .competition__text-preview {
    width: 760px;
    font-size: 18px;
  }
}

/* Ввод ФИО */
.competition-form__full-name {
  .competition-item {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  padding-top: 33px;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
  input {
    font-size: 18px;
    line-height: 30px;
    border-radius: 3px;
    border: 2px solid #e2e2e2;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__full-name {
    width: 640px;
    padding-left: 0;
    padding-bottom: 8px;
    .competition-item {
      flex-direction: row;
      padding-top: 38px;
    }
    label {
      left: 0;
      padding-top: 17px;
      
    }
    input {
      width: 100%;
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .competition-form__full-name {
    width: 455px;
    margin-left: -10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }
}

/* Выбор достижений */
.competition-form__achievements__list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.competition-form__achievements {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  margin: 0 auto;
  background-color: #f2f2f2;
  label {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-left: 30px;
  }
  .competition-list__item {
    padding-bottom: 52px;
  }
}

.competition-attaining {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements {
    background-color: #ffffff;
    padding-top: 38px;
    label {
      padding-left: 20px;
    }
  }
  .competition-attaining {
    width: 435px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__achievements__list {
    width: 940px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .competition-list__item {
    width: 260px;
  }
  .competition-form__achievements {
    padding-top: 23px;
    .competition-attaining {
      justify-content: center;
      width: 920px;
    }
  }
}

/* Ввод телефона и почты */
.competition-data {
  display: none;
}

.competition-form__data {
  background-color: #ffffff;
  padding-top: 19px;
  .competition-item {
    display: flex;
    flex-direction: column;
  }
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-top: -20px;
  label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 5px;
  }
  input {
    font-size: 18px;
    line-height: 30px;
    border-radius: 3px;
    border: 2px solid #e2e2e2;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__data {
    padding-top: 87px;
    width: 620px;
    label {
      order: 2;
    }
    .competition-item {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 20px;
    }
  }
  .competition-data {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    text-align: center;
    color: #d22856;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__data {
    width: 940px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 45px;
    .competition-form__wrapper {
      display: flex;
      justify-content: space-between;
    }
    .competition-item {
      width: 375px;
      padding-left: 0;
      padding-right: 0;
      label {
        padding-top: 10px;
      }
    }
  }
}

/* Выбор приложения */
.competition-form__apps__list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.competition-form__apps {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 42px;
  margin: 0 auto;
  background-color: #f2f2f2;
  label {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-left: 30px;
  }
  .competition-list__item {
    padding-top: 37px;
    padding-bottom: 8px;
  }
}
.competition-app {
  padding-left: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  color: #d22856;
  width: 220px;
  display: flex;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .competition-form__apps {
    background-color: #ffffff;
    label {
      padding-left: 20px;
    }
    .competition-list__item {
      padding-top: 46px;
      padding-bottom: 0;
    }
  }
  .competition-app {
    padding-left: 80px;
    width: 400px;
  }
}
@media (min-width: $desktop-width) {
  .competition-form__apps {
    width: 435px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 0;
    .competition-list__item {
      padding-left: 105px;
      padding-top: 48px;
      padding-bottom: 0;
    }
  }
  .competition-app {
    padding-left: 0;
    justify-content: center;
    padding-left: 32px;
  }
}

/* Ввод эмоций */
.competition-form__emotions {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 31px;
  legend {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-align: center;
    padding-bottom: 10px;
  }
  textarea {
    width: 240px;
    height: 160px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding: 20px;
    resize: none;
  }
  .competition-item {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__emotions {
    padding-top: 32px;
    padding-bottom: 105px;
    legend {
      padding-bottom: 32px;
    }
    textarea {
      width: 480px;
      height: 150px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .competition-form__emotions {
    padding-top: 40px;
    textarea {
      width: 780px;
      height: 85px;
      padding-top: 13px;
    }
    padding-bottom: 100px;
  }
}

/* Кнопка отправки*/
.competition__button {
  margin: 0 auto;
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 25px 48px;
  vertical-align: middle;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  display: flex;
  text-transform: uppercase;
}

.competition__text-info {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 38px;
}

.competition__text-info sup {
  color: #d22856;
}

.competition__text-info-desktop {
  display: none;
}

.competition__text-preview__text{
  display: none;
}

@media (min-width: $tablet-width) {
  .competition__button {
    
    margin-left: 20px;
    width: 300px;
  }
  .competition__text-info {
    margin-top: -63px;
    display: flex;
    padding-left: 463px;
  }
  .competition__text-preview__text{
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .competition__button {
    margin-left: 10px;
  }
  .competition__text-info {
    padding-left: 630px;
    padding-bottom: 105px;
  }
  .competition__text-info-desktop {
    display: block;
  }
}
