.information {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  color: #283645;
  text-align: center;
} 

@media (min-width: $tablet-width) {
  .information {
    padding-top: 60px;
    width: 620px;
    font-size: 40px;
    line-height: 48px;
  } 
  .information__description-offer {
    margin: 0 auto;
    width: 450px;
  }
  .information__description {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding-top: 80px;
    width: 820px;
    font-size: 50px;
    line-height: 60px;
  }
}