.modal {
  width: 280px;
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  width: 770px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.modal__title {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.modal__text {
  width: 280px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.modal-send__button {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  padding: 17px 35px;

  vertical-align: middle;

  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.modal-error__button {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  padding: 17px 35px;

  vertical-align: middle;

  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}




@media (min-width: $tablet-width) {
  .modal {
    width: 320px;
    padding-top: 45px;
    padding-right: 70px;
    padding-bottom: 0;
    padding-left: 70px;
  }
  .modal__title {
    width: 320px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal__text {
    width: 320px;
    font-size: 18px;
  }
  .modal-error__button {
    width: 320px;
  }
  .modal-send__button {
    width: 320px;
  }
  .modal-send__wrapper {
    background-color: #f2f2f2;
    width: 320px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    margin-left: -70px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 460px;
    padding-top: 45px;
    padding-right: 160px;
    padding-bottom: 0;
    padding-left: 160px;
  }
  .modal__title {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal__text {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-error__button {
    width: 300px;
  }
  .modal-send__button {
    width: 460px;
  }
  .modal-send__wrapper {
    background-color: #f2f2f2;
    width: 460px;
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 50px;
    margin-left: -160px;
  }
  .modal-error__wrapper {
    background-color: #f2f2f2;
    width: 300px;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 50px;
    margin-left: -160px;
  }
}
