/* Неполный подвал для мобильной версии главной страницы*/
.page-footer__wrapper--index {
  display: none;
}

/* Логотип*/
.page-footer__logo {
  margin-left: 65px;
  margin-right: 65px;
  background-image: url(../img/logo-pink-blue-mobile.svg);
  background-repeat: no-repeat; 
  width: 146px;
  height: 40px;
  display: block;
  padding-bottom: 30px;
}

/* Иконки соц.сетей*/
.social__link--twitter::before {
  display: block;
  width: 44px;
  height: 44px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  content: '';
  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: 13px 14px;
  
}

.social__link--facebook::before {
  width: 44px;
  height: 44px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  display: block;
  content: '';
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: 16px 10px;
}

.social__link--youtube::before {
  width: 44px;
  height: 44px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  display: block;
  content: '';
  background-image: url(../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  content: '';
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 175px;
  top: -7px;
}

/*Общее*/
.page-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.copyright__text {
  color: #283645;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 3px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 620px;
    padding-top: 0px;
  }
  .page-footer__social {
    width: 400px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__copyright {
    padding-left: 0;
    padding-right: 0;
    width: 185px;
  }
  .social__list {
    width: 180px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1px;
  }
  .social__item {
    padding-left: 0;
  }
  .page-footer__logo {
    margin-left: 0;
    margin-right: 0;
  }
  .copyright__text {
    padding-left: 58px;
    padding-top: 20px;
  }
  .copyright__link {
    position: relative;
    left: 0;
    top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 70px;
    width: 960px;
  }
 
  .page-footer__social {
    padding-left: 10px;
    width: 560px;
  }
  .page-footer__copyright {
    width: 380px;
  }
  .copyright__text {
    font-size: 18px;
    padding-left: 195px;
  }
  .page-footer__logo {
    position: relative;
    background-image: url(../img/logo-pink-blue-desktop.svg);
  }
  
  .copyright__link {
    position: absolute;
    left: 310px;
    top: 12px;
    right: 0;
  }
}
