.page-header {
  margin: 0 auto;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 720px;
  background-position: bottom;
  position: relative;
  background-color: #283645;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: auto 400px;
  }
}

.page-header__button-nav {
  display: none;
  background-position: 0 0;
  width: 50px;
  height: 25px;
  background-image: url(../img/icon-menu-burger.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  content: "";
}
.page-header__logo-and-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #283645;
  border-bottom: 1px solid #000000;
}
.page-header__logo {
  width: 75px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 146px;
    height: auto;
  }
  .page-header {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    height: 985px;
    background-position: bottom;
    position: relative;
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: auto 700px;
    }
  }
  .page-header__logo-and-menu {
    width: 620px;
    height: 40px;
    padding-top: 26px;
    padding-bottom: 42px;
  }
  .page-header__button-nav {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    height: 850px;
    background-position: center 0;
    background-size: cover;
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image: url(../img/bg-back-desktop@2x.jpg); 
    }
  }
  .page-header__top {
    background-color: rgba(0,0,0,0.3);
  }
  
  .page-header__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 940px;
    align-items: center;
  }
  
  .page-header__logo-and-menu {
    background-color: transparent;
    width: 320px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  
  .page-header__button-nav {
    display: none;
  }
  
}
