/* Неполный подвал для мобильной версии главной страницы*/
.page-footer__wrapper--index {
  display: none;
}

/* Логотип*/
.page-footer__logo {
  margin-left: 65px;
  margin-right: 65px;
  background-image: url(../img/logo-pink-blue-mobile.svg);
  background-repeat: no-repeat; 
  width: 146px;
  height: 40px;
  display: block;
  padding-bottom: 33px;
}
@media (min-width: $desktop-width) {
  .page-footer__logo {
    background-image: url(../img/logo-pink-blue-desktop.svg);
  }
}

/* Иконки соц.сетей*/
.social__link--twitter:before {
  display: block;
  width: 40px;
  height: 40px;

  content: '';

  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--facebook::before {
  width: 40px;
  height: 40px;
  display: block;

  content: '';

  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--youtube::before {
  width: 40px;
  height: 40px;
  display: block;

  content: '';

  background-image: url(../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright__link:before {
  display: block;
  width: 40px;
  height: 40px;

  content: '';

  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Контактная информация*/
.page-footer__contacts {
  padding-top: 28px;
  padding-bottom: 40px;
}

.contacts__list{
  margin: 0;
  padding: 0;

  list-style: none;
}
.contacts__title{
  color: #283645;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.contacts__text {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}

.contacts__phone,
.contacts__mail,
.contacts__address{
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
}

.contacts__address {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__item {
    width: 270px;
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts__title{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 40px;
    line-height: 48px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    width: 940px;
    padding-left: 10px;
  }
  .contacts__title{
    font-size: 50px;
    width: 465px;
    line-height: 60px;
  }
  .contacts__text {
    padding-bottom: 23px;
  }
  .contacts__item--phone {
    order: 1;
  }
  .contacts__item--adress {
    order: 2;
  }
  .contacts__item--mail {
    order: 3;
  }
  
}

/*Общее*/
.page-footer {
  background-color: #ffffff;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.copyright__text {
  color: #283645;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    padding-top: 13px;
  }
  .page-footer__social {
    width: 420px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
  .page-footer {
    width: 620px;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__copyright {
    padding-left: 0;
    padding-right: 0;
    width: 135px;
  }
  .social__list {
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-footer__logo {
    margin-left: 0;
    margin-right: 0;
  }
  .copyright__text {
    width: 100px;
  }
  .copyright__link {
    width: 28px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 10px;
    width: 960px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .page-footer__social {
    padding-left: 10px;
    width: 570px;
  }
  .page-footer__copyright {
    width: 155px;
    padding-right: 10px;
  }
  .copyright__text {
    font-size: 18px;
  }
  .contacts__list {
    padding-top: 2px;
  }
}

