.photo {
  overflow-x: hidden;
  background-color: #ffffff;
  position: relative;
}

.photo__text-title{
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  width: 250px;
  padding-bottom: 35px;
}

.photo__text-info {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-top: 19px;
  margin: 0 auto;
  padding-bottom: 43px;
}

.photo__item {
  width: 280px;
  background-color: #f2f2f2;
  margin-bottom: 22px;
}

.photo__panorama-day {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height:24px;
  color: #ffffff;
  background-color: #d22856;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 8px;
  position: absolute;
  margin-top: -137px;
  margin-left: 138px;
}

.photo__heart {
  background-image: url(../img/icon-heart.svg);
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
}
.photo__like {
  margin: 0;
  padding-left: 18px;
}

.photo__rating__wrapper {
  display: flex;
  align-items: center;
}


.photo__item--panorama {
  picture {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
  }
}

.photo__author-name {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
}

.photo__time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
}
.photo__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin-bottom: 8px;
}
.photo__like {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
}

.photo__item__wrapper {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 18px;
}

.photo__wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75px;
  }
  .photo__item {
    width: 300px;
  }
  .photo__item--panorama {
    width: 620px;
    margin-bottom: 48px;
    .photo__item__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px;
      padding-left: 30px;
      padding-right: 28px;
      padding-bottom: 17px;
    }
    .photo__rating__wrapper {
      display: flex;
      justify-content: space-between;
      width: 120px;
      padding: 0;
    }
    .photo__author-name {
      order: 1;
    }
    .photo__text {
      order: 3;
    }
    .photo__rating__wrapper {
      order: 2;
    }
  }
  .photo__item__wrapper {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 28px;
    padding-bottom: 17px;
  }
  .photo__text-title {
    padding-left: 0;
    padding-bottom: 55px;
    font-size: 18px;
    width: 445px;
  }
  .photo__text-info {
    padding-top: 45px;
    font-size: 18px;
    width: 445px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
  }
  .photo {
    margin-top: 60px;
  }
  .photo__rating__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 240px;
  }
  .photo__like {
    padding-left: 0;
  }
  .photo__heart {
    order: 2;
  }
  .photo__panorama-day {
    margin-top: -453px;
    margin-left: 480px;
  }
  .photo__text {
    height: 45px;
  }
}
@media (min-width: $desktop-width) {
  .photo__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .photo__item--panorama {
    width: 940px;
  }
  .photo {
    margin-top: 2px;
  }
  .photo__text-title {
    width: 580px;
    padding-bottom: 70px;
    padding-top: 0;
    margin-top: 15px;
  }
  .photo__text-info {
    padding-top: 8px;
    padding-bottom: 63px;
  }
  .photo__item {
    margin-bottom: 55px;
  }
  .photo__panorama-day {
    margin-top: -453px;
    margin-left: 800px;
  }
  .photo__item--panorama {
    margin-bottom: 42px;
    .photo__item__wrapper {
      padding-left: 28px;
      padding-right: 30px;
      padding-bottom: 0;
    }
  }
}

