.photo__text-info{
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}  

.photo__item {
  background-color: #f2f2f2;
}

.photo__panorama-day {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height:24px;
  color: #ffffff;
}

.photo__author-name {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
}

.photo__time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
}
.photo__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo__like {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
}
