.upload {
  background-color: #f2f2f2;
  width: 280px;
  
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.upload__file-input {
  display: none;
}


.upload__label {
  display: block;

  width: 280px;
  height: 375px;

  cursor: pointer;

  background-image: url(/img/photo-road-mobile@1x.jpg);
}

.upload__work-photo {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 35px;
  padding-right: 45px;
  justify-content: space-between;
}

.upload__button {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  padding: 17px 35px;
  vertical-align: middle;
  border: 3px solid #d22856;
  border-radius: 30px;
}

.cancel__button {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #283645;
  padding: 17px 35px;
  vertical-align: middle;
  border: 3px solid #283645;
  border-radius: 30px;
  opacity: 0.1;
}


@media (min-width: $tablet-width) {
  .upload {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }
  .upload__wrapper {
    width: 300px;
  }

}

@media (min-width: $desktop-width) {
  .upload {
    width: 920px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
