@font-face {
  font-family: "Open Sans";
  src: url("source/fonts/opensans.woff") format("woff"),
  url("source/fonts/opensans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("source/fonts/opensansbold.woff") format("woff"),
  url("source/fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("source/fonts/opensanslight.woff") format("woff"),
  url("source/fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;

  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
